body{
    padding: 0;
    margin: 0;
    background-color: #D8E3E7;
}
#all {
   
    background-color: #D8E3E7;
    
}

div {
    margin: 3px;
    padding: 7px;
    border-radius: 7px;
    margin: 7px;
    margin-bottom: 14px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(123, 255, 99);
    background-color: #51C4D4;
    
}
#head_list {
    height: 5px;
}
.head_list {
    display: flex;
    
    padding: 0px;
    justify-content: space-between;
}
.head_list > div {
    
    background-color: #D8E3E7;
}

.main_menu {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    height: 400px;
    
}
.left_list {
    width: 100%;
    min-width: 0px;
    max-width: 100px;
}
.left_list > div{
    background-color: #D8E3E7;
}

#player {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    max-width: 340px;
    max-height: 340px;
}

#music_player_icon {
    display: block;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-image: url(img_list/Music_player_icon2.gif);
}
.music_player {
   border: 1px solid rgb(180, 65, 65) ; 
   width: 100%;
   height: 30px;
   padding: 0px ;
}
.music_list {
    overflow: scroll;
    width: 100%;
    min-width: 100px;
    max-width: 250px;
}
.music_list > div > button {
    border: 0;
    background-color: aliceblue;
}

.bottom_list {
    display: flex;
    justify-content: space-between;
}
