body{
    padding: 30px;
    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: azure;
    text-align: center;
    color: aliceblue;
    background-image: url('img_list/wallpaper.png');
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading {
   padding-left:  60px;
    height: 70px;
    float: left;
}
#all {
    
    background-color: transparent;
    
}

div > div {
    margin: 3px;
    padding: 7px;
    border-radius: 7px;
    margin: 7px;
    margin-bottom: 14px;
    /* border-style: solid;
    border-width: 4px;
    border-color: #9d44C0; */
    background-color: transparent;
    
}
#head_list {
    height: 5px;
}
.head_list {
    display: flex;
    position: sticky;
    flex-direction: row;
    align-content: center;
    
    border-radius: 20px;
    margin: 3px;
    padding: 3px;
    justify-content: space-between;
}
.head_list > div {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 7px;
    height: auto;
    width: 90px;
    border-radius: 20px;
}
.head_list > div:hover{
    background-image: url("img_list/button image.png");
    background-size: cover;
}
.head_list > div > p {
    margin: 0;
    padding: 0;
}

.inp
  position: relative
  margin: auto
  width: 100%
  max-width: 280px
  border-radius: 3px
  overflow: hidden

  .label
    position: absolute
    top: 20px
    left: 12px
    font-size: 16px
    color: rgba($dark,.5)
    font-weight: 500
    transform-origin: 0 0
    transform: translate3d(0,0,0)
    transition: all .2s ease
    pointer-events: none

  .focus-bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba($dark,.05)
    z-index: -1
    transform: scaleX(0)
    transform-origin: left

  input
    -webkit-appearance: none
    appearance: none
    width: 100%
    border: 0
    font-family: inherit
    padding: 16px 12px 0 12px
    height: 56px
    font-size: 16px
    font-weight: 400
    background: rgba($dark,.02)
    box-shadow: inset 0 -1px 0 rgba($dark,.3)
    color: $dark
    transition: all .15s ease

    &:hover
      background: rgba($dark,.04)
      box-shadow: inset 0 -1px 0 rgba($dark,.5)
    
    &:not(:placeholder-shown)
      + .label
        color: rgba($dark,.5)
        transform: translate3d(0,-12px,0) scale(.75)
    
    &:focus
      background: rgba($dark,.05)
      outline: none
      box-shadow: inset 0 -2px 0 $primary
      + .label
        color: $primary
        transform: translate3d(0,-12px,0) scale(.75)
        + .focus-bg
          transform: scaleX(1)
          transition: all .1s ease


.main_menu {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    height: 400px;
    
}
.left_list {
    width: 100%;
    min-width: 0px;
    max-width: 300px;
}
.left_list > div{
    /* background-color: #D8E3E7; */
}

#player {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    max-width: 340px;
    max-height: 340px;
}

#music_player_icon {
    display: block;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-image: url(img_list/Music_player_icon2.gif);
}
.music_player {
   border: 1px solid rgb(180, 65, 65) ; 
   width: 100%;
   height: 20px;
   padding: 0px ;
   margin-bottom: 0;
}
.controls {
    padding:  0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.controls > div > button {
    width: 60px;
}
.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.controls > div > button {
    width: 60px;
}
.music_list {
    overflow: scroll;
    width: 100%;
    min-width: 100px;
    max-width: 450px;
}
.music_list > div > button {
    border: 0;
    background-color: transparent;
    color: aliceblue;
    /* background-color: aliceblue; */
}

.bottom_list {
    display: flex;
    justify-content: space-between;
}
