body { 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding:  0px;
    margin: 0px;
}
#all {
    background-image: url("img/wall.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
div {
    
    padding: 4px;
    margin: 4px;
}
.top {
    background-color: black;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width:auto;
}
.top-top {
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
}
.top-top > img {
    width: 100px;
}
input {
    width: 300px;
    height: 40px;
    border-color: aliceblue;
    background-color: transparent;
    border-radius: 20px;
}
#search {
    background-color: transparent;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    border-color: white;
    color: aliceblue;
    border-radius: 15px;
}
.top-base {
    
    width: 50%;
    min-width: 300px;
    display: grid;
    height: 100%;
    padding: 0;
    margin: 0;
    border-width: 0.5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "top-a top-a top-a top-a top-a"
        "top-b top-c top-d top-e top-e";
}

.top-base > div {
    border-radius: 10px;
    
    background-color: transparent;
}
.top-base > div:hover {
    background-color: rgb(120, 120, 120);
}
.top-a {
   grid-area: top-a;
}
.top-b {
    padding-top: 7px;
   grid-area: top-b; 
}
.top-c {
    padding-top: 7px;
    grid-area: top-c;
}
.top-d {
    display: flex;
    align-items: center;
    justify-items: center;
    grid-area: top-d;
    
    
}
.top-d > button {
    background-color: transparent;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    border-color: white;
    color: aliceblue;
    border-radius: 15px;
} 
.top-e {
    display: flex;
    align-items: center;
    justify-items: center;
    grid-area: top-e;
}
.top-e > button {
    background-color: transparent;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    border-color: white;
    color: aliceblue;
    border-radius: 15px;
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}

.main-left {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 200px;
}
.main-rigth {
    padding: 0px;
    
    display: grid;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    justify-items: center;
    gap: 0px;

    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.card {
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    grid-column-gap: 0px;
    height: auto;
    width: 180px;
}
.card:hover {
    background-color: #777;
    opacity: 30%;
    box-shadow: 3px 3px gray;
}
.base {
    display: grid;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    
    height: 200px;
}
.base > div {
    margin: 15px;
    padding: 0px;
    border-radius: 15px;
}
