body{
    padding: 30px;
    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: azure;
    text-align: center;
    color: aliceblue;
    background-image: url('img_list/wallpaper.png');
   
  
}
#heading {
   padding-left:  60px;
    height: 70px;
    padding-right: 40%;
    float: left;
}
#all {
    
    background-color: transparent;
    
}

div > div {
    margin: 3px;
    padding: 7px;
    border-radius: 7px;
    margin: 7px;
    margin-bottom: 14px;
    /* border-style: solid;
    border-width: 4px;
    border-color: #9d44C0; */
    background-color: transparent;
    
}
#head_list {
    height: 5px;
}
.head_list {
    display: flex;
    position: sticky;
    flex-direction: row;
    align-content: center;
    border-radius: 20px;
    margin: 3px;
    padding: 3px;
    justify-content: space-between;
    
}
.head_list > div {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 7px;
    height: auto;
    width: auto;
    border-radius: 20px;
}
/* .head_list > div:hover{
    background-image: url("img_list/button image.png");
    background-size: cover;
} */

input[type=text] {
    width: 200px;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(191, 175, 206);
}


.main_menu {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    height: 400px;
    
}

#music_image {
    box-shadow: 5px 5px 10px black, 5px 5px 10px black;
}

.music_list {
    overflow: auto;
    width: 100%;
    min-width: 100px;
    max-width: 450px;
    text-align: left;
    margin: 20px;
}
.music_list > div {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 162, 162));
    box-shadow: 3px 3px 5px black;
}
.music_list > div > button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    border-color: transparent;
    border-color: white;
    background-color: transparent;
    border: 0;
}

.bottom_list {
    display: flex;
    justify-content: space-between;
}

#music_player {
    opacity: 70%;
    width: 100% ;
    height: 80px; 
    border-radius: 20px;
    box-shadow: 7px 7px 6px rgb(72, 72, 72);
}
#button {
    margin: 8px;
    padding: 10px;
}